*{
    padding: 0;
    margin: 0;
}

#wrapper{
    width: 760px;
    padding: 20px;
    margin-top: 30px;
    /* border: 1px solid black; */
    background-color: lightgrey;
}

#search_txt{
    width: 580px;
    margin-left: 20px;
    margin-right: 20px;
}

#listings{
    width: 700px;
    background-color: white;
    margin-top: 30px;
    padding: 30px;
    overflow: scroll;
    overflow-x: hidden;
}

#promotion{
    width: 600px;
    height: 120px;
    border: 1px solid black;
    padding: 20px;
}

h2{
    margin-left: 40px;
    color: blue;
    margin-bottom: 10px;
}

#image_div{
    width: 150px;
    height: 110px;
    align-items: center;
    border: 1px solid black;
    display: inline-block;
}

#middle{
    width: 300px;
    height: 110px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

#right{
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}